
html,body{
    height: 100%;
    width: 100%;
    background-image: url('./Assets/3749345.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#root{
    height: 100%;
    width: 100%;
}
