#Listing{
    width: 100%;
    display: flex;
    justify-content: center;
}
#Main{
    width: 95%;
    background-color: #daad86c0;
    box-shadow: 0px 0px 3px 10px #DAAD86;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#cardM{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Macondo', cursive;
    border-radius: 8px;
    margin-right: 15px;
    margin-left: 15px;
    min-width: 403px;
    max-width: 410px;
    height:600px;
    background-color: #659dbdb5;
    transition: all 0.5s;
    box-shadow: 0px 0px 3px 2px #9f684c;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#cardM{
    width: 100%;
}
#cardM h2{
    margin: 15px;
}
#cardM img{
    margin-bottom: 10px;
}

#cardM button{
    position: absolute;
} 