.header{
    background-color: rgba(20, 29, 41, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 97%;
    height: fit-content;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.header-brand{
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(0, 200, 255);
    flex: 1;
  }

.navbar{
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.nav-brand, .nav-index, .nav-link{
  color: rgb(0, 200, 255);
  margin: 0 2rem;
}
.nav-index{
  font-size: 0.7rem;
}
.nav-link{
  font-size: 1rem;
  font-weight: 700;
}


.hamburger-btn{
  display: none;
  background-color: transparent;
  border: none;
  height: fit-content;
  flex: 1;
  margin: 0 1rem;
}

.hamburger-menu{
  position: fixed;
  top: 4.4rem;
  right: 0;
  width: 100%;
  height: 50vh;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(20, 29, 41, 0.95);

  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger-menu-item{
  display: none;
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 900px){
  .header{
    width: 100%;
  }

  .nav-item{
    display: none;
  }

  .hamburger-btn{
    display: block;
  }

  .hamburger-menu{
    display: flex;
  }

  .hamburger-menu-item{
    display: flex;
  }
  
}

