.cursor{
    border-radius: 50%;
    position: fixed;
    top: -15px;
    left: -15px;
    z-index: 2000;
    border: 1px solid aqua;
  }
  
.cursor-inner{
    background-color: aqua;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
}

@media screen and (max-width: 768px){
    .cursor{
        display: none;
    }
}